USE [RestSQL]
GO
/****** Object:  Table [dbo].[MyTable]    Script Date: 4/19/2023 1:29:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MyTable](
	[ID] [int] NULL,
	[Order] [varchar](500) NULL,
	[Price] [int] NULL,
	[FullName] [varchar](100) NULL,
	[PhoneNumber] [int] NULL
) ON [PRIMARY]
GO
